.navbar{
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 0.063rem solid var(--color-grey-5);
    height: 5.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    z-index: 2;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
}

.navbar-links{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.bt-cart{
    position: relative;
}

.cart-number{
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    background-color: var(--color-grey-1);
    color: var(--color-white);
    padding: 0 0.5rem;
    height: 1.375rem;
    border-radius: 0.25rem;
}

@media(max-width: 991px){
    .navbar-links{
        position: fixed;
        bottom: 0;
        width: 100vw;
        left: 0;
        height: auto;
        padding: 1rem;
        overflow-x: auto;
        background-color: var(--color-white);
        border-top: 0.063rem solid var(--color-grey-5);
    }

    .navbar-links li:last-child{
        order: -1;
    }
}