.color-grey-1{
    color: var(--color-grey-1);
}
.color-grey-2{
    color: var(--color-grey-2);
}
.color-grey-3{
    color: var(--color-grey-3);
}
.color-grey-4{
    color: var(--color-grey-4);
}
.color-grey-5{
    color: var(--color-grey-5);
}
.color-grey-6{
    color: var(--color-grey-6);
}
.color-white{
    color: var(--color-white);
}

.bg-color-grey-1{
    background-color: var(--color-grey-1);
}
.bg-color-grey-2{
    background-color: var(--color-grey-2);
}
.bg-color-grey-3{
    background-color: var(--color-grey-3);
}
.bg-color-grey-4{
    background-color: var(--color-grey-4);
}
.bg-color-grey-5{
    background-color: var(--color-grey-5);
}
.bg-color-grey-6{
    background-color: var(--color-grey-6);
}
.bg-color-white{
    background-color: var(--color-white);
}