@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-grey-3: #868E96;
    --color-grey-4: #A6ABB1;
    --color-grey-5: #DEE2E6;
    --color-grey-6: #E9ECEF;
    --color-white:  #FFFFFF;
    --color-like:   #DF2A55;

    --font-1: 28px;
    --font-2: 20px;
    --font-3: 16px;
    --font-4: 14px;

    --font-family-1: "Inter", sans-serif;
    --font-family-2: "Nunito", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container{
    max-width: 100%;
    width: 900px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .container{
        margin: 0 16px;
    } 
}

img{
    max-width: 100%;
}